body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  display: flex;
  flex-flow: column;
  align-items: center;
}
/*  */
.newlist .newsitem{
  width:90%;
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 20px;
  
}
.newsitem span,.newsitem a{
  display: inline-block;
}
.newsitem span:first-child{
  margin-left: 10%;
}
.newsitem a{
  
}
.fordislike,.forlike{
  height: 20px;
  widows: 20px;
  border-radius: 10px;
}
.fordislike{
  background-color: aliceblue;
}
.fordislike:hover{
  background-color: brown;
}
.forlike{
  background-color: brown;
}


div .more{
  border: 1px solod #000;
  border-radius: 10px;
  width: 5%;
  background-color: brown;
  color:#fff
}