body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  */
.newlist .newsitem{
  width:90%;
  display: flex;
  justify-content: space-between;
}
.newsitem span,.newsitem a{
  display: inline-block;
}
.newsitem span:first-child{
  margin-left: 10%;
}
.newsitem span:nth-child(2){
  width:30%
}