/* All */
body{
  background-color: hsla(0, 5%, 79%, 0.22);
}
.App {
  display: flex;
  flex-flow: column;
  align-items: center;
}
a {
  text-decoration: none;
}

/* filter */
.filter{
  display: flex;
  margin: 1% 0;
  margin-left: 40%;
}
.filter label,.filter select{
  margin-right: 5px;
}

/* kindlist */
.kind {
  display: flex;
  grid-template-columns: 1fr 5fr 1fr 1fr 2fr 1fr 20px 1fr;
}
.kindlist {
  font-weight: 700;
}

/* loading */
.loading{
  font-weight: 900;
}

/* newsitem */
.newsitem span,
.newsitem a {
  display: inline-block;
  color: #fff;
}
.newsitem a.link {
  display: block;
  color: aliceblue;
  font-size: 1.2em;
  font-weight: 700;
  margin-left: 4px;
}
.newsitem {
  display: flex;
  margin: 5px 0;
  justify-content: space-around;
}
/* newsitem delete*/
.newsitem span.delete {
  display: flex;
  align-items: center;
  border: 1px solid #456;
  padding: 2% 4%;
  background-color: hsla(0, 15%, 20%, 0.86);
  color: #fff;
  border-left: transparent;
}
.newsitem span.delete:hover {
  border: 1px solid rgba(15, 14, 14, 0.13);
  background-color: rgba(15, 14, 14, 0.13);
  display: flex;
}
.newsitem span.delete:hover span {
  color: hsla(0, 15%, 20%, 0.86);
  background-color: transparent;
}
/* newsitem itemlike*/
.itemlike {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: hsla(0, 15%, 20%, 0.86);
  color: #fff;
  border: 1px solid #456;
  border-right: none;
}


/* item */

.item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 4px 2px;
}

.item div:first-child,
.item div:last-child {
  font-size: 0.7em;
  margin-left: 5px;
}

.item div:last-child span:first-child {
  margin-right: 5px;
  display: inline-block;
}

/* item div:lastchild */
.created,
.comment {
  font-size: 0.8em;
  margin-right: 5px;
}
.author,
.scores {
  font-size: 0.9em;
}
.author,
.comment {
  text-decoration: underline;
}
/*  */


/* itemlike like */
.like {
  padding: 2%;
  display: flex;
  /* display: none; */
  align-items: center;
  width:100px;
  /* margin: 20px auto; */
}
/* itemlike like dis/forlike */
div.fordislike,
div.forlike {
  display: absolute;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  /* border-radius: 10px; */
}

div.fordislike::before,
div.forlike::before,
div.fordislike::after,
div.forlike::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: currentColor;
}
div.fordislike:hover::before,
div.forlike:hover::before,
div.fordislike:hover::after,
div.forlike:hover::after {
  background-color:brown;
}
div.fordislike::before,
div.forlike::before{
  left: -9px;
}
div.fordislike::after,
div.forlike::after{
  top: -9px;
  right: 0px;
}

.fordislike {
  background-color: aliceblue;
}
.fordislike:hover {
  background-color: brown;
  color: brown;
}
.forlike {
  background-color: brown;
  color: brown
}
/* more  */

div .more {
  border: 1px solod hsla(0, 15%, 20%, 0.86)000;
  border-radius: 10px;
  width: 5%;
  background-color: brown;
  color: #fff;
}
